body {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    background-color: #f0f2f5;
    background-image: url('stacked-waves-haikei.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-container {
    max-width: 1200px;
    width: 700px;
    margin: 70px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.profile-header {
    text-align: center;
    padding: 20px 30px 30px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.profile-name {
    margin: 10px 0 5px 0;
    font-size: 24px;
}

.profile-title {
    margin: 0;
    color: #6c757d;
    font-weight: normal;
}

.profile-details {
    padding: 20px 30px;
}

.profile-details h3 {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.profile-details p {
    margin-bottom: 15px;
    color: #333;
}

.profile-details p strong {
    color: #000;
    margin-right: 8px;
}

.profile-actions {
    padding: 20px 30px;
    background-color: #f8f9fa;
    text-align: right;
    border-top: 1px solid #eee;
}

.btn-primary, .btn-secondary {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.btn-primary {
    background-color: #3062ce;
    color: white;
}

.btn-primary:hover {
    background-color: #4a5766;
}

.btn-secondary {
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.btn-secondary:hover {
    background-color: #e2e6ea;
}

.hidden {
    display: none;
}

.edit-photo-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile-container.edit-mode-active .profile-picture-container:hover .edit-photo-label {
    opacity: 1;
}

.edit-input-name {
    font-weight: 700;
    text-align: center;
    border: 2px solid #3062ce;
    border-radius: 4px;
    margin: 10px auto 10px auto;
    width: 200px;
    max-width: 90%;
    padding: 5px;
    font-size: 20px;
}